name: CI + Build Artifacts (.next)

on: [push, workflow_dispatch]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload build output (.next)
        uses: actions/upload-artifact@v6
        with:
          name: next-build
          path: .next

  deploy:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Download build output
        uses: actions/download-artifact@v7
        with:
          name: next-build
          path: .next

      - name: Show downloaded contents
        run: |
          ls -la
          ls -la .next
          echo "Deploy step goes here"
